.tab-wrapper {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.tab-wrapper .tab-btn {
  padding: 10px;
  height: 100%;
}
.tab-wrapper .tab-btn.active {
  color: #FFF;
  background: #F96700; 
}

.act-content {
  display: none;
}
.act-content.active {
  display: block;
}