.comment-wrapper {
  padding: 20px;
}

.comment-header {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 800;
}
.comment {
  margin-left: 10px;
  font-weight: 600;
}
.external-link-btn {
  padding: 10px;
  border: 1px solid #525252;
  background: #525252;
  color: #fff;
  border-radius: 8px;
  margin: 20px 0 10px 10px;
}