.list-banner {
  width: 100%;
  height: 450px;
}
.banner-sub-title {
  letter-spacing: 14px;
}

.underline {
  border-bottom: 2px solid #fff;
}
.comment-wrapper {
  width: 100%;
  background: #595959;
  padding: 40px;
  color: #fff;
}
.buttons-wrap {
  margin: 0;
}
.buttons-wrap > a {
  background: #fff !important;
  color: #2F4E60;
  margin: 25px 0 0 20px;
  font-size: 15px;
}
.comment-wrapper .header {
  font-size: 21px;
  margin-bottom: 10px;
  font-weight: 800;
}

.content {
  width: 100%;
  display: -webkit-flex; /* Safari */
  display: flex;
  margin-bottom: 20px;
}
.icon {
  flex-shrink: 4;
}
.icon > i {
  margin-top: 10px;
  font-size: 45px;
}
.text {
  flex-grow: 1;
  /*margin-left: 20px;*/
}
.blank {
  flex-grow: 1;
  margin-left: 75px;
}
.text .line {
  padding: 10px;
}
.white-hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.line-header {
  font-size: 16px;
  letter-spacing: 3px;
}
.line-content {
  font-size: 13px;
  letter-spacing: 2px;
}

.fa-bus, .fa-train {
  font-size: 50px;
  margin-right: 20px;
}
.content .buttons-wrap {
  margin-top: 20px;
  margin-right: 80px;
}
.content .buttons-wrap > a {
  padding: 8px 15px 8px 15px;
  color: #2F4E60 !important;
  background: #fff !important;
}

.content .buttons-wrap > a:hover {
  border-color: #FFF !important;
  color: #FFF !important;
  background: transparent !important;
}